body{
    background-color: #e8f3ee;
}
.box-nav{
    background-color:rgb(255, 255, 255);
    padding-left: 10px;
    display: flex;


}
.box-nav img{
height: 50px;
}
.box-nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 500px;
    

}
.box-nav ul li{
    padding-left: 20px;
    list-style-type: none;
}
.btn {
    background-color: rgb(123, 216, 127);
    

}
.button{
        color: white;
        background-color: blue;
        border: none;
        font-size: small;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 5px;        
    }
    .button1{
        color: white;
        background-color: rgb(122, 14, 223);
        border: none;
        font-size: small;
        padding-top: 10px;
        padding-bottom: 8px;
        border-radius: 1px; 
        margin-right: 5px;       
    }
.box-text{
margin-left: 20px;
margin-bottom: 30px;

}
    
    .box-img {
        display: flex;
       ;
    }
    .box-img img {
        height: 500px;
        width: 600px;
        
    }
    
    .textbox{
        border-radius: 1px;
        border: solid grey 0.5px;
        width: 360px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        

    }
    .box-nav ul li img{
        height: 20px;
        margin-top: -12px;
        
    }
    .facebook{
        color:white;
        background-color:rgb(56, 189, 167);
        border: none;
        font-size: larger;
        width: 400px;
        height: 30px;
        border-radius: 5px; 
        margin-top: 40px;

    }
    .qoral{
        width: 500px;
    }
    .sect2{
        display: flex;
        justify-content : space-between;
    }
   






    .boxs{
margin: 10px;
display: flex;
margin-top: 40px;
justify-content: center;

}
.box{
width: 300px;
height: 400px;
background-color: #e8f3ee;

padding: 10px;
border-radius: 10px;

margin-right: 30px;
}
.ficon{
color: #27AE60;
font-size: 15px;
}
.boxtitle{
font-size: 20px;
font-weight: bold;
margin-top: 20px;
color: #283747;
margin-bottom: 15px;

}
.box-content{

line-height: 25px;
font-size: 18px;
color: rgb(37, 36, 36);
font-family: 'Roboto', sans-serif;;
}
.readmore{
margin-top: 20px;
font-size: 20px;
color: rgb(128, 0, 17);
}
.box-img1{
        display: flex;
   margin-right: 10px;
   width: 400px;
   height: 200px;
   
    
}
.box-img2{
        display: flex;
   margin-right: 10px;
   width: 300px;
   height: 50px;
    
}
.box1{
width: 300px;
height: 250px;
background-color: #e8f3ee;

padding: 10px;
border-radius: 5px;

margin-right: 30px;
}
